# Miscellaneous
231247221722447010617822617395106118131232120591.ico
.idea/

# Sites
sites/games/*
sites/bbs2-emden/*
sites/miscellaneous/*
sites/visual-demonstrations/*

# Exclude Non GitHub-Sites
!sites/games/gmod_ttt
!sites/visual-demonstrations/dragndropbubbles
!sites/visual-demonstrations/draw
!sites/miscellaneous/converter
!sites/miscellaneous/discord

# Include Sensitive Sites
sites/games/gmod_ttt/TTTDiscordZL.php
sites/games/gmod_ttt/php/php.php
sites/miscellaneous/discord
sites/games/*

# Exclude .gitkeep's
!sites/games/.gitkeep
!sites/bbs2-emden/.gitkeep
!sites/miscellaneous/.gitkeep
!sites/visual-demonstrations/.gitkeep

# Include Sensitive Files
resources/hs-fulda/credentials.json
